.footer {
    background-color: var(--bg-color);
    width: 100%;
    height: 3.5rem;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px;
    box-shadow:  0 -2px 2px -2px grey;
}

.header {
    background-color: var(--bg-color);
    width: 100%;
    height: 8rem;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 2px;
    box-shadow: 0 2px 2px -2px grey;
}

.button {
    padding: 2px 8px;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--color-light-snow);
}

.button:hover {
    font-weight: 800;
}

.input-field {
    padding: 0.1rem 0.4rem;
    font-weight: 500;
    border-width: 1px;
    border-radius: 5px;
    border-color: grey;
}

.note-prev-container {
    max-width: 640px;
    width: 90%;
    height: 3rem;
    margin: 1rem auto 0 auto;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 2px 3px 5px grey;
}

.note-prev-element {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-full-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.note-full-element {
    text-wrap: wrap;
    word-break: break-all;
}

.note-form {
    max-width: 640px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.note-form-element {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-i {
    cursor: pointer;
}

.note-i:hover{
    font-weight: 900;
}

.pin.active {
    color: red;
}

.border-div {
    max-width: 840px;
    width: 100%;
    height: 2px;
    margin: 0 auto 2rem auto;
    background-image: linear-gradient(to right, var(--bg-color), #e5e7eb, var(--bg-color));
}

.border-div-black {
    width: 100%;
    height: 2px;
    margin-bottom: 1rem;
    background-color: grey;
    opacity: 0.3;
}

.note-controller-container {
    max-width: 640px;
    width: 90%;
    margin: 0 auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.popup {
    background-color: rgba(0,0,0,0.2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-inner {
    background: var(--bg-color);
    max-width: 680px;
    width: 95%;
    margin-bottom: 8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    border-radius: 5px;
}

.popup-header {
    width: 90%;
    margin: 0 auto 0.3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.popup-close {
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
}

.popup-close:hover {
    font-weight: 800;
    font-size: 1.8rem;   
}
